/* * {
    border: 1px solid black;
} */

body,
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    margin: 0;

}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 0.05fr 2fr;
}

.side-bar {
    grid-area: 1/1/3/2;
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 15px;
    border-style: none;
    background: #4285F4;
}

.upper-sidebar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 15px;
    padding: 15px;
    color: white;
    font-weight: bold;

}

.middle-sidebar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    gap: 15px;
    padding: 15px;
    color: white;
    font-weight: bold;
}

.lower-sidebar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    padding: 15px;
    color: white;
    font-weight: bold;
}

.header {
    grid-area: 1/2/2/4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 15px;
    border-style: none;
    background: #F9FAF8;
}

.upper-header {
    display: flex;
}

input{
    width: 70%;
    border-radius: 10px;
    border-style: none;
    background: lightskyblue;
}

.left-upper-header {
    display: flex;
    width: 70%;
    align-self: center;
    gap: 15px;
}

.right-upper-header {
    display: flex;
    justify-content: center;
    width: 30%;
    gap: 15px;
    align-items: center;
}

.right-upper-header span{
    font-weight: bold;
    font-size: small;
}

.lower-header {
    display: flex;
}

.left-lower-header {
    display: flex;
    width: 70%;
    align-self: center;
    gap: 15px;
    align-items: center;
}

.left-lower-header img{
    border-radius: 50%;
}

button{
    background: #4285F4;
    border-style: none;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    color: white;
    font-weight: bold;
    font-size: x-small;
    cursor: pointer;

}

.textbox{
    display: flex;
    flex-direction: column;
}

.textbox span{
    font-weight: bold;
    font-size: small;
}

.textbox p{
    font-weight: bold;
    font-size: medium;
}

.right-lower-header {
    display: flex;
    justify-content: space-around;
    width: 30%;
    align-self: center;
}

.projects{
    grid-area: 2/2/3/3;
    padding: 15px;
    background: lightskyblue;
}

.project-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    margin: 10px;
}

.card{
    padding: 10px;
    background: #F9FAF8;
    border-radius: 10px;
    box-shadow: 2px 2px gainsboro;
    border-style: none;
}

.title{
    font-weight: bold;
    font-size: medium;
}

.content{
    font-size: small;
    font-weight: bold;
    color: grey
}
.user-action{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.announcements {
    grid-area: 2/3/3/4;
    padding: 15px 15px 15px 0px;
    
}

.announcements-title{
    font-weight: bold;
    font-size: small;
}

.announcements-content{
    font-weight: bold;
    font-size: x-small;
    color: grey
}

.right-sidebar{
    display: flex;
    flex-direction: column;
    background: lightskyblue;
    
}

.announcements-wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px;
    padding: 10px;
    font-size: small;
    border-style: none;
    background: #F9FAF8;
    border-radius: 10px;
    box-shadow: 2px 2px gainsboro;
}

.trending {
    padding: 15px 15px 15px 0px;
}

.trending-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
    margin: 10px;
    padding: 10px;
    font-size: small;
    align-items: center;
    border-style: none;
    background: #F9FAF8;
    border-radius: 10px;
    box-shadow: 2px 2px gainsboro;
}

.trending-wrapper img{
    border-radius: 50%;
}

.trending-text{
    display: flex;
    flex-direction: column;
}

.trending-title, .trending-content{
    margin: 0;
}

.trending-title{
    font-weight: bold;
    font-size: small;
}

.trending-content{
    font-weight: bold;
    color: grey
}

h4{
    margin: 0;
    padding-left: 15px;
}